div#moduleHeader{
	width:100%;
	margin:0 auto;
	background-color:rgba(0,0,0,0.8);
	padding:10 0;
	height:50px;
	text-align: center;
	box-shadow: 0px 0px 20px black;
}
div#moduleHeaderMenu{
	width:85%;
	display:inline-block;
	text-align: right;
	vertical-align:middle;
}
div#moduleHeaderLogo{
	display:inline-block;
	width:10%;
	text-align: left;
	vertical-align: middle;
}
h1#moduleHeaderLogoTitle{
	font-family: 'Calligraffitti', cursive;
	font-size:30px;
	color:white;
	text-shadow:0px 0px 0.1em grey;
	text-decoration:none;
	display:inline-block;
	margin:0 auto;
}
div#moduleHeaderMenu > a, div#moduleHeaderMenu > button {
	color:white;
	display:inline-block;
	width:80px;
	padding:10px;
	margin:0 10;
	text-align: center;
	vertical-align: middle;
	border-radius:20px;
	border:2px solid rgba(105,195,255,0.7);
}
div#moduleHeaderMenu a:hover, div#moduleHeaderMenu > button:hover{
	border:2px solid white;
	color:white;
}
div#moduleHeaderMenu > button{
	background-color:rgba(0,0,0,0);
}
div#actions{
	background-color:rgba(0,0,0,0.8);
	padding:10px;
	text-align: right;
}
div#actions > * {
	display: inline;
	margin-left:20px;
}
button#export_c_r{
	background-color:rgba(105,195,255,0.7);
	color:white;
}
button#export_t{
	background-color:rgba(255,147,38,0.6);
	color:white;
}
button#export_p{
	background-color:rgba(75,90,38,0.6);
	color:white;
}
button#backup_db{
	background-color:rgba(0,195,0,0.7);
	color:white;
}
button#export_tracciamento_p_r{
	background-color:rgba(255,147,38,0.6);
	color:white;
}
span{
	color:white;
	border:2px solid white;
	padding:5px;
	border-radius:10px;
	text-align:right;
}
