
/**************************************************************	GENERAL */
#notice{
	position:fixed;
	bottom:0px;
	width:100%;
	padding:10 0;
	color:white;
	text-align: center;
}
a{
	text-decoration:none;
}
body{
    background: rgba(36,136,229,1);
	background: -moz-linear-gradient(top, rgba(36,136,229,1) 0%, rgba(36,136,229,1) 44%, rgba(24,106,201,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,136,229,1)), color-stop(44%, rgba(36,136,229,1)), color-stop(100%, rgba(24,106,201,1)));
	background: -webkit-linear-gradient(top, rgba(36,136,229,1) 0%, rgba(36,136,229,1) 44%, rgba(24,106,201,1) 100%);
	background: -o-linear-gradient(top, rgba(36,136,229,1) 0%, rgba(36,136,229,1) 44%, rgba(24,106,201,1) 100%);
	background: -ms-linear-gradient(top, rgba(36,136,229,1) 0%, rgba(36,136,229,1) 44%, rgba(24,106,201,1) 100%);
	background: linear-gradient(to bottom, rgba(36,136,229,1) 0%, rgba(36,136,229,1) 44%, rgba(24,106,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2488e5', endColorstr='#186ac9', GradientType=0 );
	margin:0 auto;
}
body{
	/*-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
     -webkit-transform: rotate(360deg); /* Safari 
    transform: rotate(360deg);*/
}
#notifica{
	position:fixed;
	top:10px;
	right:10px;
	background-color: rgba(255,25,0,0.7);
	padding:1em;
	border-radius: 30px;
	font-variant: blink;
}
*{
	font-size:1em;
	font-family: 'Alegreya Sans', sans-serif;
	//border:1px solid red;
}
/********************************************		CONTENITORI	*/

/*************************	ELENCO */
#mainList{
	float:right;
}
.mainListNormal{
	width:70%;
}
.mainListExtended{
	width:90%;
	float:right;
}
.sidebarContracted{
	margin-left:-390px;
}
.sidebarExtended{
	width:70%;
}
.mainListContracted{
	width:300px;
	overflow:hidden;
}
#mainList table {
	width:100%;
	margin-top:20px;
	margin-right:40px;
	background-color:rgba(0,0,0,0.6);
	border-collapse: collapse;
	box-shadow: 0px 0px 20px black;
}
#mainList table tr th {
	font-size:1.3em;
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	color:white;
	font-size:0.8em;
	text-align:left;
}
#mainList table tr {
	height:30px;
}
#mainList table tr td {
	color:white;
	text-align: left;
	text-indent:5px;
	max-width:200px;
	max-height:30px;
	overflow: hidden;
	padding:0 5;
}
#mainList table tr td[class='typeCommand']{
	text-align: center;
	background-color:rgba(0,0,0,0.5);
	width:105px;
}
#mainList table tr td[class='typeCommand'] *{
	display: inline-block;
	margin:0 5;
}
#mainList table tr td a {
	text-decoration: none;
	color:white;
	overflow: hidden;
}
#mainList table tr td a:hover{
	background-color: orange;
	color:black;
}
button{
	border:none;
	border-radius:5px;
}
/********************************************		CONTROLLI	*/
