form#loginForm{
	display: block;
	margin-top:60px;
	background-color:rgba(0,0,0,0.4);
	border:1px solid black;
	box-shadow: 0px 0px 0.2em black;
	width:15%;
	padding:40px;
	margin:0px auto;
	margin-top:10%;
	text-align: center;
}
form#loginForm input[type="text"], form#loginForm input[type="password"]{
	display:block;
	margin:0px auto;
	height:40px;
	margin-bottom: 10px;
	width:90%;
	padding:5px;
	border-radius:20px;
	text-align:center;
	color:white;
	box-shadow:0px 0px 5px white inset;
	background-color:black;
	border:none;
}
input[type="submit"]{
	background-color:rgba(255,0,0,0.2);
	color:white;
	border:1px red;
	box-shadow: inset 0px 0px 2px black;
	margin-top:20px;
	padding:20px;
}
input[type="submit"]:hover{
	background-color:rgba(255,0,0,0.7);
}