.fixedHeader{
	position:fixed;
	top:0px;
}
.fixedSidebar{
	position:fixed;
	top:50px;
}
div#sideBar{
	width:23%;
	float:left;
	overflow: hidden;
	background-color:rgba(0,0,0,0.6);
	text-align: center;
	color:white;
	margin-top:20px;
	box-shadow: 0px 0px 20px black;
}
div#sidebar div {
	max-height:500px;
	overflow-y: scroll;
	overflow-x:hidden;
}
div#sideBar h2.close{
	display: block;
	margin:0 auto;
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color:white;
	font-size:1.2em;
	padding:10 0;
	text-align: center;
}
div#sideBar h2.close:hover{
	color:orange
}
div#sideBar div#menuActions{
	font-size:1.3em;
	background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	overflow:hidden;
	color:white;
}
div#sideBar div#menuActions button.actionResizeLeft{
	float:left;
	margin-left:10px;
	background-color:rgba(0,195,0,0.7);
	color:white;
}
div#sideBar div#menuActions button.actionResizeRight{
	float:right;
	margin-right:10px;
	background-color:rgba(0,195,0,0.7);
	color:white;
}
div#sideBar div#menuActions button.actionResizeFull{
	float:right;
	margin-right:10px;
	background-color:rgba(0,195,0,0.7);
	color:white;
}
div#sidebar h2, div#sidebar div{
	margin:0 auto;
}
div#sidebar div{
	background-color:grey;
	padding:10 0;
	box-shadow:0px 0px 30px black inset;
	overflow: scroll;
}
div#sidebar div table{
	max-height:300px;
}
div#sidebar div[id='moduleInsert']{
	max-height:900px;
}
div#sideBar div h6{
	color:white;
}
label{
	display: block;
	width:90%;
	padding:5 0;
	text-align: center;
	background-color:rgba(105,195,255,0.2);
	margin:0 auto;
	margin-top:5px;
	color:white;
}
div#sideBar div textarea{
	display: block;
	width:90%;
	height:70px;
	max-width:90%;
	margin:0 auto;
	background-color:rgba(0,0,0,0.1);
	box-shadow: 0px 0px 80px black inset;
	color:white;
	padding:10px;
	border:none;
}
div#sidebar table tr td {
	color:white;
}
button.actionTest, button.actionInsert, button.actionUpdate, button.actionDelete, button.actionChoose{
	color:white;
	display: block;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
button.actionInsert,button.testSetted{
	background-color:rgba(0,255,0,0.6);
}
button.actionDelete,button.testAbsent{
	background-color:rgba(255,0,0,0.6);
}
button.actionUpdate, button.testIncomplete{
	background-color:rgba(255,147,38,0.6);
}
button.actionChoose{
	background-color:rgba(105,195,255,0.7);
	display:inline-block;	
}
button.actionTest{
	background-color:rgba(0,195,0,0.7);
	display:inline-block;	
}
button.switch{
	background-color:rgba(0,0,0,0.6);
	font-size:0.9em;
	color:white;
	padding:1%;
	border:1px solid rgba(255,255,255,0.6);
}
td > button{
	height:20px;
	vertical-align: middle;
}
button.typeSatisfied,
button.typeNotsatisfied,
button.typeInside,
button.typeInclusion,
button.typeOutside,
button.typeExtension,
button.typeHeir,
button.typeNotHeir,
button.typeNone,
button.typeChapter{
	font-size:0.7em;
	margin:0 auto;
}
button.typeSatisfied{
	background-color:rgb(0, 204, 0);
}
button.typeNotsatisfied{
	background-color:red;
}
button.typeInside,button.typeInclusion{
	background-color:rgba(0,255,255,1);
	color:black;
}
button.typeOutside,button.typeExtension{
	background-color:rgba(0,153,255,1);
}
button.typeHeir,button.typeChapter{
	background-color:rgb(255, 0, 102);
	color:white;
}
button.typeNotHeir{
	background-color:rgb(102, 51, 0);
	color:white;
}
div#sideBar div select{
	background-color:rgba(0,0,0,0.3);
	color:white;
	width:90%;
	margin:0 auto;
	margin-top:5px;
	margin-bottom: 10px;
}
div#sidebar div table {
	width:90%;
	display:block;
	margin:0 auto;
}
#moduleUpdate h6{
	margin:5 0;
	padding:5;
}
/**************************************************************	INSERIMENTO */

/********************************************	REQUISITI */
div#sideBar div select#moduleInsertionImportance, div#sideBar div select#moduleInsertionType{
	width:20%;
}