div#sideBar div #moduleInsertionSwitchInsideOutsideChapter,
div#sideBar div #moduleUpdateSwitchInsideOutsideChapter,
div#sideBar div #moduleUpdateSatisfied
{
	display:inline-block;
	margin:10 10;
}
#moduleTest td .actionInsert{
	display: inline-block;
}
/************************************************************* system */
#moduleTestSystem *{
	vertical-align:top;
}
button#moduleTestSystemSwitchImplemetedNotImplemented{
	float:right;
	width:15%;
	padding:0px;
	margin:0 auto;
	top:0px;
}
button#moduleTestSystemInsert{
	width:15%;
	float:right;
}
#moduleTestSystem label,
#moduleTestSystem textarea{
	float:left;
	width:80%;
}
#moduleTestSystem textarea{
	height:50px;
	max-width:80%;
	background-color:rgba(0,0,0,0.6);
	color:white;
}
#moduleTestValidation, #moduleTestSystem{
	background-color:rgba(51, 153, 51,0.7);
}
#moduleTestValidation td[class='typeTest'] {
	vertical-align: middle;
	color:white;
	text-align: left;
}
#moduleTestValidation td label#moduleTestValidationLabelFit{
	width:70%;
	float:left;

}
#moduleTestValidation td label#moduleTestValidationLabelDescription{
	width:100%;
}
#moduleTestValidation td textarea.moduleTestValidationFit{
	width:70%;
	background:rgba(0,0,0,0.6);
	color:white;
}
#moduleTestValidation td .moduleTestAddFit, 
#moduleTestValidation td .moduleTestDeleteFit{
	display: inline-block;
	width:20px;
	margin-left:10px;
}
#moduleTestValidation td textarea#moduleTestValidationDescription{
	width:100%;
	height:90%;
	background:rgba(0,0,0,0.6);
	color:white;
}
#moduleTestSystem h6{
	margin:0px;
	text-align: right;
	width:50px;
	font-size:0.0em;
}
#moduleClass ul li button{
	display: inline;
}
#moduleClass ul li{
	text-align: left;
}
#moduleClass ul{
	padding:10px;
}
#mainList tr td button{
	display: inline;
}
