@font-face{
	font-family: 'Roboto';
	src: url('../lib/materialize/font/Roboto-Thin.woff') format('woff');
}
.brand-logo {
	margin-left: 0.8em;
}
body {
	background-image:url('../image/background.png');
	background-size:500px;
	background-repeat:repeat;
	background-margin:-500px;
}
#mainList {
	margin-top: 20px;
}
#mainList table {
	background-color: #607d8b;
}
#mainList thead {
	color:white;
	background-color: #455a64;
}
.selected{
	background-color: green;
}
.blue-grey.col {
	padding-bottom:10px;
	display:block;
}
.modal-content h3 {
	color:black;
}
.modal-content h6 {
	display:none;
}
table tbody tr td {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size:11px;
}
a.waves-effect{
	display:block;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
td a{
	text-decoration:none;
	color:black;
}
td a:hover{
	color:orange;
}

a.btn-floating {
	position:fixed;
	bottom:25px;
	right:25px;
}