div#moduleUpdate ul#moduleUpdateList{
	text-decoration: none;
}
div#moduleUpdate ul#moduleUpdateList li {
	text-align: left;
	text-decoration: none;
}
div#moduleUpdate ul#moduleUpdateList li button{
	display:inline;
}
button.switch{
	padding:6px;
}